include *.rst
include *.py
include LICENSE
include *.ini
include release.sh
include requirements*.txt
include .coveragerc
include .editorconfig
recursive-include docs *
recursive-include src *
recursive-include tests *
recursive-include .github *
prune docs/_build
global-exclude *.pyc *~
