name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Pick a few items to try to get a broad coverage, without checking all
        # combos
        include:
        - python-version: 3.5
          django-version: 2.0.13
        - python-version: 3.6
          django-version: 2.1.15
        - python-version: 3.7
          django-version: 2.2.17
        - python-version: 3.8
          django-version: 3.0.11
        - python-version: 3.9
          django-version: 3.1.3
        - python-version: 3.9
          django-version: 3.2.6

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('requirements*.txt') }}
    - name: Install dependencies
      run: |
        pip install Django==${{ matrix.django-version }}
        pip install -e .
        pip install -r requirements-test.txt
    - name: Tests
      run: |
        ./runtests.py

  flake8:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('requirements*.txt') }}
    - name: Install dependencies
      run: |
        pip install flake8
    - name: Lint with flake8
      run: flake8

  isort:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('requirements*.txt') }}
    - name: Install dependencies
      run: |
        pip install isort
    - name: isort
      run: isort -c src tests

  check-manifest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        pip install check-manifest
    - name: check-manifest
      run: check-manifest
